@import './../../misc/styles/variables.scss';

.basic-interface {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.basic-interface__header {
  width: 100%;
  padding: 1em 0;
}

.basic-interface__header-total-calories {
  width: 70%;

  h2 {
    font-size: 2.5rem;
    margin: 0;
    color: 

    span {
      font-size: 1.5rem;
    }
  }
}

.basic-interface__header-date-group {
  width: 30%;

  span {
    width: 100%;
    text-align: right;
    font-weight: bold;
  }
}

.basic-interface__input {
  width: 100%;
  margin-bottom: 0.5em;
}

.gray-input {
  padding: 0.5em;
  background-color: transparent;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1em;
  color: #ccc;

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ccc;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #ccc;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #ccc;
  }
}

.basic-interface__input-name-wrapper {
  position: relative;
  width: calc( 52% - 0.5em );
  margin-right: 0.5em;
}

.basic-interface__input-name {
  width: 100%;
  @extend .gray-input;
}

.basic-interface__input-search-suggestions {
  position: absolute;
  top: calc(100% + 0.5em);
  left: 0;
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid #ccc;
  max-height: 35vh;
  overflow-y: auto;
}

.input-search-suggestions__suggestion {
  display: flex;
  align-items: stretch;
  flex-direction: flex-start;
  flex-direction: row;
  padding: 8px;
  background-color: #282828;

  &:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
  }

  span {
    flex: 1;
  }

  button {
    flex: 0;
    background-color: transparent;
    border: 0;
    padding: 0;

    img {
      width: 1em;
      height: 1em;
    }
  }
}

.basic-interface__input-calories {
  width: calc( 28% - 0.5em );
  margin-right: 0.5em;
  @extend .gray-input;
}

.basic-interface__input-submit {
  width: 20%;
  padding: 0.5em;
  border-radius: 3px;
  background-color: $chocolate;
  color: white;
  border: 0;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;

  // &:focus, &:active, &:hover {
  //   background-color: #d2691e;
  // }
}

.basic-interface__entry {
  padding: 0.5em 0;
  width: 100%;
  cursor: pointer;

  .entry__name {
    width: 70%;
  }

  .entry__calories {
    width: 30%;
    text-align: right;
  }
}

.basic-interface__popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: calc(480px + 2em);
  height: 100%;
  background-color: #282828;
  padding: 1em;
}

.basic-interface__popup-header, .basic-interface__popup-body,
.basic-interface__popup-body {
  width: 100%;
}

.basic-interface__popup-header, .basic-interface__popup-footer {
  height: 10%;
}

.basic-interface__popup-header {
  h2 {
    font-size: 2.5rem;
    margin: 0;
    flex: 1 0 auto;
  }

  button {
    flex: 0 0 auto;
    background-color: transparent;
    width: auto;
    height: auto;
    border: 0;
    outline: none;
    cursor: pointer;

    img {
      width: 1.5em;
      height: 1.5em;
    }
  }
}

.basic-interface__popup-body {
  height: 80%;

  input {
    font-size: 1.5rem;
    outline: none;
    width: 100%;
    @extend .gray-input;

    &:last-of-type {
      margin-top: 0.5em;
    }
  }
}

.basic-interface__popup-footer {
  button {
    width: 40%;
    margin: 5%;
    padding: 0.75rem;
    border-radius: 5px;
    border: 0;
    font-size: 1rem;
    color: white;
    outline: none;
    cursor: pointer;

    &.delete {
      background-color: $firebrick;
    }

    &.save {
      background-color: $chocolate;

      &:disabled {
        opacity: 0.6;
      }
    }
  }
}

.basic-interface__weight-prompt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(40, 40, 40, 0.7);
}

.basic-interface__weight-prompt-modal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-radius: 4px;

  // bad top level selectors
  p {
    color:#282828;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5px;

    input {
      font-size: 1.25rem;
      padding: 2.5px;
      flex: 1;
      max-width: 100px;
    }

    p {
      flex: 0;
      margin-left: 5px;
    }
  }

  button {
    margin-top: 10px;
    background-color: $chocolate;
    color: white;
    border: 0;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
}